$primary-color: #2E3532;
$secondary-color: #7E9181;
$tertiary-color: #C7CEDB;
$accent-color: #94849B;
$background-color: #fffcf2;


#messages_container {
        margin:10px;
        height:200px;
        overflow:scroll;
        overflow-x:hidden;
        border: 1px solid black;
}

#chatrooms_container {
        height:200px;
        margin: 10px;
        overflow:scroll;
        overflow-x:hidden;
         border: 1px solid black;
        }

h1, h2, h3, h4, h5, h6 {
        margin: 10px;
}

form {
        margin:10px;
        padding: 5px;
}


#message_box {
        width: 65%;
        }

#enter {
        width: 15%;
        }

.small_text {
font-size: 9px;
margin: 10px;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $background-color;
  height: 100%;
}

#messages_container {
    background-color: white;
    padding: 5px;
    border: 8px groove #7a7a7a;
       width: 80%;
}

button {
    margin: 10px;
}

a {
    color: white;
    }

a:hover {
    color: grey;
    }

#chatroom_name {
   width: auto;
        margin: 10px;
        }

#username {
margin: 10px;
width: 200px;
}

#username_submit {
width: 200px;
}

#chatroom_title {
margin: 15px;
}

#chatroom_name {
width: 200px;
}

#new_chat {
width:200px;
}

#logo_image {
    width: 300px;
    height: auto;
    }

.list-group-item {
width: 200px;
}

#navbar-logo {
width: 30px;
height: auto;
content-align: left;
}

#toggle-timestamps {
margin-right: 36px;
}

@media (min-width: 576px) {
    #toggle-timestamps {
    margin-right: 55px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #toggle-timestamps {
  margin-right: 72px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #toggle-timestamps {
  margin-right: 95px;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #toggle-timestamps {

  margin-right: 115px;
    }
 }