$primary-color: #2E3532;
$secondary-color: #7E9181;
$tertiary-color: #C7CEDB;
$accent-color: #94849B;
$background-color: #A0AAB2;


#messages_container {
        margin:10px;
        padding:3px;
        height:200px;
        overflow:scroll;
        overflow-x:hidden;
        border: 2px solid black;
}


#chatrooms_container {
        height:200px;
        margin: 10px;
        padding:3px;
        overflow:scroll;
        overflow-x:hidden;
         border: 2px solid black;
        }

h1, h2, h3, h4, h5, h6 {
        color: $primary-color
}

h1 {
        text-align: center;
        }

form {
        margin:10px;
}


#message_box {
        width: 400px;
        }

#enter {
        }

.small_text {
font-size: 10px;
}
