{% extends 'layout.html' %}

{% block title %}Find a Chatroom{% endblock%}

{% block script %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src=" {{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="col">
        <div class="row">
            <form class="form-signin">
                <h3>Available Chats:</h3>
                <ul id="chatroom_list">
                    {% for chatroom in chat_list %}
                        <li><a href="/chat/{{ chatroom['url']}}" class="chatroom">{{ chatroom['chatroom_name'] }}</a></li>
                    {% endfor %}
                </ul>
                <input type="text" placeholder="Start a new Chatroom" id="chatroom_name" autocomplete="off">
                <button id="new_chat" class="btn btn-primary">New Chat</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}