{% extends 'layout.html' %}

{% block title %}Find a Chatroom{% endblock%}

{% block script %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src=" {{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <img src="{{ url_for('static', filename='logo_transparent.png') }}" id="logo_image">
    </div>
    <div class="row justify-content-center">
        <form>
            <input type="text" placeholder="Start a new Chatroom" id="chatroom_name" autocomplete="off"><br>
            <button id="new_chat" class="btn btn-primary">New Chat</button>
        </form>
    </div>
    <div class="row justify-content-center">
        <div id="chatroom_list" class="list-group">
                {% if chat_list %}
                    {% for chatroom in chat_list %}
                        <a href="/chat/{{ chatroom['url']}}" class="chatroom list-group-item list-group-item-action">{{ chatroom['chatroom_name'] }}</a>
                    {% endfor %}
                {% else %}
                    No existing chatrooms - please start one.
                {% endif %}
        </div>
    </div>
</div>

{% endblock %}